[submodule "TODO-Backend"]
	path = TODO-Backend
	url = https://github.com/pod32g/TODO-Backend.git
[submodule "TODO-Frontend"]
	path = TODO-Frontend
	url = https://github.com/pod32g/TODO-Frontend.git
[submodule "TODO-E2E"]
	path = TODO-E2E
	url = https://github.com/pod32g/TODO-E2E.git
